@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
  /* COMMON STYLE */
  h1 {
    color: var(--gray-4, #bdbdbd);
    font-family: "Roboto";
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px; /* 100% */
  }
  h2 {
    color: var(--gray-1, #333);
    font-family: "Roboto";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
  }
  p {
    color: #000;
    font-family: "RobotoSlabs";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px; /* 156.25% */
  }
  .nav {
  }
  .footer {
  }

  /* MAIN-PAGE */
  .page-main {
  }

  /* GALLERY-PAGE */
  .page-gallery {
  }

  /* PROJECT-PAGE */
  .page-gallery {
  }

  /* CERTIFICATIONS-PAGE */
  .page-gallery {
  }

  /* CONTACTS-PAGE */
  .page-gallery {
  }

