@font-face {
  font-family: "Chronicle Display";  
  src: url("fonts/Chronicle\ Display\ Black.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
  }
.body {
  font-family: Chronicle Display, sans-serif; /* Тип шрифта */
  color: var(--wei, #FFF);
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(255, 255, 255, 0.7) ), url(img/mntn.jpeg);
  background-repeat: no-repeat;
  background-size: 1920px;
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
.header { 
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  align-items: center;
  justify-items: center;
  height: 20vh;
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  height: 80vh;
}

a {
  text-decoration: none; /* Убираем подчёркивание */
  color: #ffffff;
  font-size: 14px; /* Размер шрифта */
  padding: 5px;
}

a:hover {
  font-weight: bolder; /* Выделение жирным шрифтом при наведении на ссылки */
}
.logo {
font-size: 32px;
font-weight: 700;
letter-spacing: 0.32px;
text-transform: capitalize;
}
.title1 {
  color: var(--accent, #FBD784);
font-family: Gilroy;
font-size: 18px;
font-weight: 800;
letter-spacing: 6px;
text-transform: uppercase;
  }
.title2 {

font-size: 88px;
font-weight: 600;
line-height: 100px; /* 113.636% */
text-transform: capitalize;
}
.title3 {
font-size: 18px;
font-weight: 700;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  justify-self: center;
  align-self: start;
  margin-top: 30px;
}
.follow {
  padding: 7px;
  writing-mode: vertical-rl;
}
.scroll{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-self: center;
  align-self: start;
  margin-top: 30px;
}

